/**
* BACKGROUND COLOR
**/

.background-white {
  background-color: #ffffff;
}

.background-blue {
  background-color: #0065fc;
}

.background-grey {
  background-color: #f2f2f2;
}

/**
* TEXT COLOR
**/

.color-blue {
  color: #0065fc;
}

.color-white {
  color: #ffffff;
}

.color-grey {
  color: #f2f2f2;
}
