@import "border.css";
@import "colors.css";
@import "elevation.css";
@import "grid.css";
@import "typography.css";
@import "spacing.css";

body {
  margin: 0;
  width: fit-content;
}

button {
  cursor: pointer;
}
