@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
  font-weight: bold;
}

h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 4px 0;
}

h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 4px 0;
}

h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 4px 0;
}

p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 4px 0;
}

a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  margin: 6px 0;
}

.bold {
  font-weight: 700;
}

.size-s {
  font-size: 16px;
}

.size-m {
  font-size: 18px;
}

.size-l {
  font-size: 20px;
}

.text-center {
  text-align: center;
}
