.logo {
  width: 61px;
}

.filter:hover {
  background-color: #deebff;
}

.icon-circle {
  height: 24px;
  width: 24px;
}

.card-primary {
  height: 200px;
}

.card-primary img {
  height: calc(100% - 110px);
  width: 100%;
  object-fit: cover;
}

.card-secondary {
  height: 144px;
}

.card-secondary img {
  height: 100%;
  width: calc(100% - 144px);
  max-width: 40%;
  object-fit: cover;
}

.card-activity {
  aspect-ratio: 2 / 3;
}

.card-activity img {
  height: 87%;
  width: 100%;
  object-fit: cover;
}

.card-activity h4 {
  height: 13%;
}

@media (min-width: 768px) {
  nav a:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding-top: 46px;
  }
}

@media (max-width: 767px) {
  nav {
    width: 100%;
  }
  nav a {
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 32px;
    width: calc(50% - 50px);
  }

  nav a:hover {
    color: #0065fc;
    border-bottom: 2px solid #0065fc;
    padding-top: 46px;
  }

  .card-activity {
    height: 190px;
    width: 100%;
  }

  .card-activity img {
    height: 60%;
  }

  .card-activity h4 {
    height: 40%;
  }
}
